@using System.Globalization
@using System.Text
@using Ghosts.Animator.Enums
@using Ghosts.Animator.Models
@using ghosts.api.Infrastructure.Models
@model ghosts.api.Infrastructure.Models.NpcRecord

@functions {

    private static string WriteUnit(MilitaryUnit.Unit unit)
    {
        if (unit == null)
        {
            return string.Empty;
        }
        var sb = new StringBuilder();
        sb.Append("<ul>");
        foreach (var item in unit.Sub)
        {
            sb.Append("<li>");
            sb.Append($"<p>{item.Name} ({item.Type}) {item.Nick}</p>");
            sb.Append($"<p>{item.HQ}</p>");
            sb.Append("</li>");
            foreach (var u in item.Sub)
            {
                sb.Append(WriteUnit(u));
            }
        }
        sb.Append("</ul>");

        return sb.ToString();
    }

    
}
@{
    NpcProfile npc = null;
    if (Model == null)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                        Sorry, but this NPC's Profile is incomplete and cannot be displayed.
                </div>
            </div>
        </div>
        return;
    }
    else
    {
        npc = Model.NpcProfile;    
    }
}

<div class="container">
<div class="row">
    <div class="col-sm-12">
        <h1>@npc.Name.ToString()</h1>
    </div>
</div>
<div class="row">
<div class="col-sm-3 sm">
    <!--left col-->
    <div class="text-center">
        <img src="/api/npcs/@npc.Id/photo" class="avatar img-circle img-thumbnail" alt="avatar">
    </div>
    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading">Build Details <i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body">
            <div>Created: @npc.Created.ToShortDateString()</div>
            <div>Campaign: @Model.Campaign</div>
            <div>Enclave: @Model.Enclave</div>
            <div>Team: @Model.Team</div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item text-muted">Accounts <i class="fa fa-dashboard fa-1x"></i></li>
        @if (npc.Accounts != null)
        {
            foreach (var account in npc.Accounts)
            {
                <li class="list-group-item text-right">
                    <span class="pull-left">
                        @account.Username
                    </span>@@<strong>@account.Url</strong>
                </li>
            }
        }
    </ul>
</div><!--/col-3-->
<div class="col-sm-9">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="edu-tab" data-bs-toggle="tab" data-bs-target="#edu-tab-pane" type="button" role="tab" aria-controls="edu-tab-pane" aria-selected="false">Education & Career</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="ins-tab" data-bs-toggle="tab" data-bs-target="#ins-tab-pane" type="button" role="tab" aria-controls="ins-tab-pane" aria-selected="false">Insider Threat</button>
  </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="mil-tab" data-bs-toggle="tab" data-bs-target="#mil-tab-pane" type="button" role="tab" aria-controls="mil-tab-pane" aria-selected="false">Military Service <img src="/mil/@(npc.Rank.Branch.ToString().ToLower()).png" alt="service branch" style="width:12px; height: 12px;"/></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="rel-tab" data-bs-toggle="tab" data-bs-target="#rel-tab-pane" type="button" role="tab" aria-controls="rel-tab-pane" aria-selected="false">Relationships</button>
      </li>
</ul>
<div class="tab-content" id="myTabContent">
<br/>
<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>First name</h4>
            </label>
            <div class="form-control">
                @npc.Name.First
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Last name</h4>
            </label>
            <div class="form-control">
                @npc.Name.Last
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Biological Sex</h4>
            </label>
            <div class="form-control">
                @npc.BiologicalSex
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Height / Weight</h4>
            </label>
            <div class="form-control">
                @npc.Health.Height"/ @npc.Health.Weight lbs.
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Blood Type</h4>
            </label>
            <div class="form-control">
                @npc.Health.BloodType
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Location</h4>
            </label>
            <div class="form-control">
                @npc.Birthdate.ToShortDateString()
            </div>
        </div>
    </div>
    <div class="form-group">

        <div class="col-xs-6">
            <label>
                <h4>Phone</h4>
            </label>
            <div class="form-control">
                @npc.HomePhone
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Mobile</h4>
            </label>
            <div class="form-control">
                @npc.CellPhone
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Primary Email</h4>
            </label>
            <div class="form-control">
                @npc.Email
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label>
                <h4>Password</h4>
            </label>
            <div class="form-control">
                @npc.Password
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12" style="margin-top:20px">
            <h3 style="margin-top:0">Addresses</h3>
            @foreach (var item in npc.Address)
            {
                <label>
                    <h4>@item.AddressType</h4>
                </label>
                <div>@item.ToString()</div>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <h3>Default Workstation</h3>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <h4>@npc.Workstation.Name (@npc.Workstation.IPAddress)</h4>
            <p>@npc.Workstation.Username / @npc.Workstation.Domain</p>
        </div>
    </div>
    <div class="col-xs-12">
        <h3>CAC</h3>
    </div>
    <div class="form-group">
        <div class="col-xs-12" style="padding-bottom:30px;">
            <h4>@npc.CAC</h4>
            CAC not on file
        </div>
    </div>
</div>
<div class="tab-pane fade show active" id="edu-tab-pane" role="tabpanel" aria-labelledby="edu-tab" tabindex="0">
    <div class="form-group">
        <div class="col-xs-12">
            <h3 style="margin-top:0">Education</h3>
            <ul style="margin-top:20px">
                @if (npc.Education != null && npc.Education.Degrees != null)
                {
                    foreach (var item in npc.Education.Degrees)
                    {
                        <li>
                            @switch (item.Level)
                            {
                                case DegreeLevel.HSDiploma:
                                    <h4>HS Graduate</h4>
                                    break;
                                case DegreeLevel.GED:
                                    <h4>GED</h4>
                                    break;
                                case DegreeLevel.Associates:
                                case DegreeLevel.Bachelors:
                                case DegreeLevel.Masters:
                                case DegreeLevel.Doctorate:
                                case DegreeLevel.Professional:
                                case DegreeLevel.None:
                                default:
                                    <h4>@item.DegreeType in @item.Major</h4>
                                    break;
                            }

                            <p>@item.School.Name (@item.School.Location)</p>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <h3>Employment</h3>
            <ul style="margin-top:20px">
                @foreach (var item in npc.Employment.EmploymentRecords)
                {
                    <li style="padding-bottom: 10px">
                        <h4>@item.Company</h4>
                        <p>@item.JobTitle within @item.Department</p>
                        <p>@item.StartDate.ToShortDateString() - @item.EndDate?.ToShortDateString() (@item.EmploymentStatus)</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="tab-pane fade show active" id="ins-tab-pane" role="tabpanel" aria-labelledby="ins-tab" tabindex="0">
    <div class="form-group">
        <div class="col-xs-12">
            <h3>Finances</h3>
            <ul style="margin-top:20px">
                @foreach (var item in npc.Finances.CreditCards)
                {
                    <li>
                        <p>@item.Number (@item.Type)</p>
                    </li>
                }
                <li>Net Worth: @npc.Finances.NetWorth.ToString("C", CultureInfo.GetCultureInfo("en-US"))</li>
                <li>Total Debt: @npc.Finances.TotalDebt.ToString("C", CultureInfo.GetCultureInfo("en-US"))</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Travel</h3>
            <ul style="margin-top:20px">
                @foreach (var item in npc.ForeignTravel.Trips)
                {
                    <li>
                        <p>
                            <span class="flag-icon flag-icon-@item.Code.ToLower()"></span> @item.Destination
                        </p>
                        <p>Arrive Destination: @item.ArriveDestination</p>
                        <p>Depart Destination: @item.DepartDestination</p>
                    </li>
                }
            </ul>
        </div>
        <div class="col-xs-12">
            <label>
                <h3>Insider Threat Events</h3>
            </label>
            <ul>
                @foreach (var item in npc.InsiderThreat.GetAllEvents())
                {
                    <li>
                        <h4>@item.Description</h4>
                        <p>
                            Corrective Action?
                            @if (!string.IsNullOrEmpty(item.CorrectiveAction))
                            {
                                <span>@item.CorrectiveAction</span>
                            }
                            else
                            {
                                <span>Action not taken</span>
                            }
                        </p>
                        <p>
                            Reported by: <a href="#">@item.ReportedBy</a> on @item.Reported
                        </p>
                    </li>
                }
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Access</h3>
        </div>
        <div class="col-xs-6">
            <label>
                <h4>Explosives Access</h4>
            </label>
            <p>@npc.InsiderThreat.Access.ExplosivesAccess</p>
        </div>
        <div class="col-xs-6">
            <label>
                <h4>Systems Access</h4>
            </label>
            <p>@npc.InsiderThreat.Access.SystemsAccess</p>
        </div>
        <div class="col-xs-6">
            <label>
                <h4>CBRN Access</h4>
            </label>
            <p>@npc.InsiderThreat.Access.CBRNAccess</p>
        </div>
        <div class="col-xs-6">
            <label>
                <h4>Physical Access</h4>
            </label>
            <p>@npc.InsiderThreat.Access.PhysicalAccess</p>
        </div>
        <div class="col-xs-6" style="margin-bottom: 30px;">
            <label>
                <h4>Security Clearance</h4>
            </label>
            <p>@npc.InsiderThreat.Access.SecurityClearance</p>
            <p>
                @if (!npc.InsiderThreat.IsBackgroundCheckStatusClear)
                {
                    <span style="color:red">(Background check not clear)</span>
                }
            </p>
        </div>
    </div>
</div>
<div class="tab-pane fade show active" id="mil-tab-pane" role="tabpanel" aria-labelledby="mil-tab" tabindex="0">
    <div class="form-group">
        <div class="col-xs-12">
            <img src="/mil/@(npc.Rank.Branch.ToString().ToLower()).png" alt="service rank" style="width:80px; height: 80px; float: right"/>
            <h3>@npc.Rank.Branch @npc.Rank.Classification</h3>
            <ul style="margin-top:20px">
                <p>@npc.Rank.Name (@npc.Rank.Abbr) @npc.Rank.Pay</p>
                <p>Billet: @npc.Rank.Billet</p>
                <p>MOS: @npc.Rank.MOS</p>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <h3>Assigned Unit</h3>
            <ul style="margin-top:20px">
                @if (npc.Unit != null && npc.Unit.Sub != null)
                {
                    foreach (var item in npc.Unit.Sub)
                    {
                        <li>
                            <p>@item.Name (@item.Type) @item.Nick</p>
                            <p>@item.HQ</p>
                            <ul>
                                @foreach (var item2 in item.Sub)
                                {
                                    @Html.Raw(WriteUnit(item2))
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<div class="tab-pane fade show active" id="rel-tab-pane" role="tabpanel" aria-labelledby="rel-tab" tabindex="0">
    <div class="form-group">
        <div class="col-xs-12">
            <h3>Family</h3>
            <ul style="margin-top:20px">
                @if (!npc.Family.Members.Any())
                {
                    <span>No family on record</span>
                }
                @foreach (var item in npc.Family.Members)
                {
                    <li>
                        <p><a href="#">@item.Name</a> (@item.Relationship)</p>
                    </li>
                }
            </ul>
            <h3>Relationships</h3>
            <ul style="margin-top:20px">
                @if (!npc.Relationships.Any())
                {
                    <span>No extended relationships on record</span>
                }
                @foreach (var item in npc.Relationships)
                {
                    <li>
                        <p>@item.With (@item.Type)</p>
                    </li>
                }
            </ul>
        </div>

    </div>
</div>
</div>
</div>
</div>
</div>
